.custom-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Sombra */
    padding: 20px;
    border-radius: 10px;
}

.form-control {
    border: 1px solid black;
}

.title_btn {
    justify-content: space-between;
    display: flex;
    margin-top: 2em;
}

.titleName {
    margin-left: 1em;
}

.btnce {
    margin-right: 1em;
    display: inherit;
}

/* .contenido
{
    background-color: #cfcfcf;
    padding: 1.5em;
    border: 1px solid black !important;
} */

/* .carta{
    background-color: #f0f2f5 !important
} */
.texto {
    /* background-color: rgb(255, 255, 255); */
    padding: 3em;
}

.boton {
    margin-bottom: 1em;
    margin-right: .25em;
}

.botonComment {
    margin-left: .25em;
}



.tabla-titilo {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
    text-align: center;
}

.tabla-incidencia {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-incidencia th,
.tabla-incidencia td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.tabla-incidencia th {
    background-color: #007bff;
    color: #ffffff;
}

.separador {
    background-color: #f8f9fa;
}

th,
td {
    white-space: nowrap;
}

