/* Fondo oscuro para el cuerpo */
body {
    background-color: #1a1a1a;
    color: #ffffff;
}

/* Tarjeta personalizada con fondo más oscuro */
.custom-card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    /* Sombra */
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    /* Fondo más oscuro */
}

/* Estilo de formulario */
.form-control {
    border: 1px solid #fff;
    /* Borde blanco */
    color: #fff;
    /* Texto blanco */
}

/* Contenido con fondo gris oscuro */
.contenido {
    background-color: #333;
    padding: 1.5em;
    border: 1px solid #fff;
    /* Borde blanco */
}

/* Clase "carta" con fondo más oscuro */
.carta {
    background-color: #333;
    /* Fondo más oscuro */
}

/* Texto con fondo blanco en la tarjeta */
.texto {
    background-color: #fff;
    /* Fondo blanco */
    padding: 3em;
    color: #333;
    /* Texto oscuro */
}

/* Botón con margen inferior y fondo oscuro */
.boton {
    margin-bottom: 1em;
    margin-right: 0.25em;
    background-color: #333;
    /* Fondo más oscuro */
    color: #fff;
    /* Texto blanco */
    border: 1px solid #fff;
    /* Borde blanco */
}


.tabla-titilo {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #343a40;
    /* Fondo oscuro */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #17a2b8;
    /* Azul claro */
    text-align: center;
}

.tabla-incidencia {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-incidencia th,
.tabla-incidencia td {
    border: 1px solid #495057;
    /* Borde oscuro */
    padding: 8px;
    text-align: left;
    color: #ffffff;
    /* Texto blanco */
}

.tabla-incidencia th {
    background-color: #343a40;
    /* Encabezado oscuro */
}

.separador {
    background-color: #343a40;
    /* Fondo oscuro para separador */
}

th,
td {
    white-space: nowrap;
}
